# Ignore enviroment folder
venv/

# Ignore all __pycache__ directories
bin/__pycache__/
bin/utils/__pycache__/
bin/measurements/__pycache__/
bin/plot_scripts/__pycache__/

# Ignore test data
test_data/
graph_test.py
dataset_backup/
dataset_not_pp/

# Ignore EwE script
EwE models to GraphML/

# Ignore other files
motifs_sq.eps # images
results/results_in_pickle/top5.py
